@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*  header tag */

header {
    background-color: #e3e6f3;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}
header div{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2.3rem !important;
}
.css-nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}
.css-nav a {
    color: #1a1a1a;
    text-decoration: none;
    padding: 0 1.2rem !important;
    transition: 0.3s ease;
    position: relative;
}
.css-nav svg {
    color: #1a1a1a;
}
.css-nav li a:hover, .css-nav li a.active{
    color: #2b9348;
}
.css-nav li a.active::after,.css-nav li a:hover::after {
    content: "";
    position: absolute;
    left: 1.3rem;
    bottom: -2px;
    width: 30%;
    height: 0.08rem;
    background-color: #2b9348;
}

/* Main Page */

.css-main-page {
    background-image: url('img/hero4.png');
    height: 95vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 4.9rem !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 2rem;
    color: #1a1a1a;
}
.css-main-page button {
    border: none;
    background-color: #e3e6f3;
    background-size: cover;
    background-position: center;
    background-image: url('img/button.png');
    font-size: 1rem;
    font-weight: 600;
    color: #2b9348;
    padding: 1rem 4.5rem;
    cursor: pointer;
}
.css-main-page h1 {
    color: #2b9348;
}
.css-main-page h4 , .css-main-page h2 , .css-main-page h1 , .css-main-page p {
    font-weight: bold;
}

/* Features */

.css-features div{
    display: flex;
    justify-content: space-between;
    margin: 2.5rem 2.6rem !important;
}
.css-features div div{
    display: flex;
    flex-direction: column;
    box-shadow : 0px 0px 25px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    transition: box-shadow 0.3s;
    
}
.css-features h6 {
    font-weight: 700;
    border: none;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.css-features div :nth-child(1) h6{
    background-color: #caf0f8;
}
.css-features div :nth-child(2) h6{
    background-color: #f8edeb;
}
.css-features div :nth-child(3) h6{
    background-color: #a7c957;
}
.css-features div :nth-child(4) h6{
    background-color: #8eecf5;
}
.css-features div :nth-child(5) h6{
    background-color: #dec9e9;
}
.css-features div :nth-child(6) h6{
    background-color: #fdb833;
}

.css-features div div:hover {
    box-shadow: 0px 10px 30px black;
}

/* Featu0 0  */
.css-features-prds div div {
    text-align: center;
    font-weight: 600;
}

.css-features-h2{
    margin-top: 6rem;
    text-align: center;
    font-weight: 800;
    font-size: 3.5rem;
}

/* Featured Products */

.css-pro-container {
    padding: 0 4.9rem !important;
}
.pro {
    width: 23%;
    min-width: 250px;
    padding: 10px;
    margin-top:5.5rem;
    border: 2px solid #cce7d0;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s;
}
.pro img {
    border-radius: 25px;
    width: 100%;
}
.pro:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
}
.pro .css-des , .pro .css-des div{
    padding: 0rem 0 0 0.4rem;
    text-align: start;
}
.pro .css-des p {
    margin-top: 0.65rem;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}
.pro .css-des i {
    color: rgb(243, 181, 25);
}
.css-cast {
    color: #2b9348;
    font-weight: 700;
}
.css-cart {
    color: #2b9348;
    border: none;
    padding: 0.65rem;
    background-color: #bfd8bd;
    border-radius: 50%;
    position: absolute;
    bottom: 0rem;
    right: 0.5rem;
}
.container{
    position: relative;
}
.css-pro-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Banner  */

.css-banner {
    margin-top: 10rem;
    background-image: url('img/banner/b2.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    color: white;
}
.css-banner span {
    color: #ef3636;
}
.css-banner button {
    padding: 1rem 1.7rem;
    border-radius: 10px;
    border: none;
}
.css-div-banner h5,.css-div-banner h2,.css-div-banner button{
    margin-top: 1.5rem;
}
.css-banner button:hover {
    color: white;
    background-color: #088178;
}

/*  New Arrivals  */

    /* A look at the section the Freatured products */

/*  */

.css-banners {
    column-gap: 2rem;
    row-gap: 3.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr 1.5fr);
    grid-template-rows: 1fr 0.77fr;
    margin: 5rem 5rem 0 5rem;
}
.css-banners h2 {
    font-size: 2rem;
    font-weight: bolder;
}
.css-banners div:nth-child(1){
    background-image: url('img/banner/b17.jpg');
    height: 50vh;
    min-width: 580px;
    background-size: cover;
    background-position: center;
    grid-area: 1/1/1/4;
}
.css-banners div:nth-child(2){
    background-image: url('img/banner/b10.jpg');
    height: 50vh;
    min-width: 580px;
    background-size: cover;
    background-position: center;
    grid-area: 1/4/1/-1;
}
.css-banners div:nth-child(3){
    background-image: url('img/banner/b7.jpg');
    height: 30vh;
    min-width: 30%;
    background-size: cover;
    background-position: center;
    grid-area: 2/1/2/3;
}
.css-banners div:nth-child(4){
    background-image: url('img/banner/b4.jpg');
    height: 30vh;
    min-width: 30%;
    background-size: cover;
    background-position: center;
    grid-area: 2/3/2/5;
}
.css-banners div:nth-child(5){
    background-image: url('img/banner/b18.jpg');
    height: 30vh;
    min-width: 30%;
    background-size: cover;
    background-position: center;
    grid-area: 2/5/2/-1;
}
.css-pos-banner {
    color: white;
    padding-left: 2rem ;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.css-pos-banner:hover button {
    color: white;
    background-color: #088178;
}
.css-banners button {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
    padding: 1rem 1.7rem;
    border: 1px solid white;
    transition: all 0.3s;
}
.css-dir-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.css-dir-banner h2 {
    color: white;
    padding-bottom: 1rem;
}
.css-banners h3 {
    font-weight: 600;
    color: #ef3636;
}

/*  Newslleters  */

.css-newslleter {
    background-image: url('img/banner/b14.png');
    background-repeat: no-repeat;
    background-color: #041e42;
    background-position: 20% 30%;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 5rem;
}
.css-newslleter h2 {
    color: white;
    font-weight: 700;
}
.css-newslleter p {
    color: #caf0f8;
}
.css-newslleter span {
    color: #fdb833;
}
.css-newslleter input {
    padding: 0.8rem 1rem;
    border: none;
    width: 100%;
    border-radius: 5px 0 0 5px;
    padding-right: 0;
}
.css-newslleter button {
    padding: 0.8rem 1rem;
    border-radius: 0 5px 5px 0;
    border: none;
    color: white;
    background-color: #2b9348;
    width: 20%;
}
.css-email {
    display: flex;
    width: 35%;
}

/*  Footer Page  */

.css-footer {
    display: flex;
    margin: 6rem 5rem 1.5rem 5rem;
    justify-content: space-between;
}
.css-contact p:nth-child(6) , .css-contact p:nth-child(2){
    padding-top: 1rem;
}
.css-icon :hover {
    cursor: pointer;
    transition: all 0.3s;
    color: #2b9348;
}
.css-link nav , .css-account nav{
    display: flex;
    flex-direction: column;
}
.css-link nav a , .css-account nav a{
    text-decoration: none;
    color: black;
    padding-top: 1rem;
}
.img{
    cursor: pointer;
    border: 1px solid #1a1a1a;
    border-radius: 7px;
    margin-bottom: 1rem;
}
.css-img {
    cursor: pointer;
}
.css-app p{
    padding-top: 1rem;
}
.css-copyright {
    display: flex;
    justify-content: center;
}


/*  Responsive  */

